<% layout('../views/layouts/boilerplate') %> 
<div class="container-lg wide-lg">
    <div class="nk-block nk-block-lg">
        <div class="nk-block-head">
            <div class="nk-block-head-content">
                <h3 class="title nk-block-title">Create A New Ticket</h3>
                <div class="nk-block-des">
                    <p>Create a new ticket. Make sure to provide as much information as possible.</p>
                </div>
            </div>
        </div>
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="card-head">
                    <h5 class="card-title">New Ticket</h5>
                </div>
                <form class="gy-3" action="/Tickets/Create" method="post">

                    <div class="row g-3 align-center">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="form-label" for="site-name">Title</label>
                                <span class="form-note">Make this short but meaningful.</span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <input class="form-control" type="text" data-val="true" 
                                    data-val-length="The field Title must be a string with a maximum length of 50." 
                                    data-val-length-max="50" data-val-required="The Title field is required." 
                                    id="Title" maxlength="50" name="ticket[title]" value="" required/>

                                    <span class="text-danger field-validation-valid" 
                                    data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 align-center">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="form-label">Description</label>
                                <span class="form-note">Explain the issue and please include all related error messages.
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <textarea class="form-control form-control-sm tinymce-basic" data-val="true" 
                                    data-val-length="The field Description must be a string with a maximum length of 250." data-val-length-max="250" 
                                    data-val-required="The Description field is required." 
                                    id="Description" maxlength="250" name="ticket[description]" required></textarea>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 align-center">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="form-label">Project</label>
                                <span class="form-note">Include the project this ticket most likely belongs in.</span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <select data-search="on" class="form-control form-select" data-val="true" 
                                     id="ProjectId" name="ticket[project]" required>
                                        <option disabled selected value="">--- CHOOSE ---</option>
                                        <% createTicketViewModel.projects.forEach(project => { %>
                                                <option value='<%= project._id %>'><%= project.name%> </option>%> 
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 align-center">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="form-label">Ticket Type</label>
                                <span class="form-note">Where is the problem occurring?</span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <select data-search="on" class="form-control form-select" data-val="true" 
                                    data-val-required="The Type field is required." id="TicketTypeId" name="ticket[type]" required>
                                    <option disabled selected value="">--- CHOOSE ---</option>
                                    <option value="UI">UI</option>
                                        <option value="Backend">Backend</option>
                                        <option value="Runtime">Runtime</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row g-3 align-center bg-warning-dim">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-label">Ticket Priority</label>
                                    <span class="form-note">If unsure, leave at pending.</span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <select data-search="on" class="form-control form-select" data-val="true" 
                                        data-val-required="The Priority field is required." id="TicketPriorityId" name="ticket[priority]" required>
                                            <option disabled selected value="">--- CHOOSE ---</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Low">Low</option>
                                            <option value="Moderate">Moderate</option>
                                            <option value="High">High</option>
                                            <option value="Urgent">Urgent</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-label">Ticket Status</label>
                                    <span class="form-note">Add the current status for this ticket.</span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <select data-search="on" class="form-control form-select" 
                                        data-val="true" data-val-required="The Status field is required." 
                                        id="TicketStatusId" name="ticket[status]" required>
                                                <option disabled selected value="">--- CHOOSE ---</option>
                                                <option value="New">New</option>
                                                <option value="Reviewed">Reviewed</option>
                                                <option value="In Progress">In Progress</option>
                                                <option value="Resolved">Resolved</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-label">Assigned Developer</label>
                                    <span class="form-note">Assign a developer for this ticket.</span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <div class="custom-file">
                                            <select data-search="on" class="form-control form-select" id="DeveloperUserId" name="ticket[asignee]" required>
                                                <option disabled selected value="">--- UNASSIGNED ---</option>
                                                <% createTicketViewModel.users.forEach(user => { %>
                                                    <option value="<%=user._id%>"><%=user.firstName%> <%=user.lastName%> </option>
                                                <% }) %>
                                            </select>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="DeveloperUserId" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row g-3">
                        <div class="col-lg-7 offset-lg-5">
                            <div class="form-group mt-2">
                                <button type="submit" class="btn btn-lg btn-primary">Submit Ticket</button>
                            </div>
                        </div>
                    </div>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GG61DbYsKhNnCx8U1WKFB0F7C1yNrZZPKOkFfrrY4cjE4yoLGAeFUN6NJnEDqy9ttIapJPWUfV2v6Gsz1zUD3zRN1KA9ekAOeMJ3MPSNE5cBavibam-f1kZUv-ph7Zkf2FAS_nKGMgYwo5pBOu9BbX_qvis1kb70rYM0QUutIVKPv0HzWXn8r4Jq8bYNIAV3A" /></form>
            </div>
        </div><!-- card -->
    </div>
</div>


