<% layout('../views/layouts/boilerplate') -%>
<div class="container-lg wide-lg">
    <div class="nk-block-head">
        <div class="nk-block-head-sub">
                <a class="text-soft back-to" href="/Tickets"><em class="icon ni ni-arrow-left"> </em><span>Tickets</span></a>
        </div>
        <div class="nk-block-between g-3">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Ticket <strong class="text-primary small">#<%= ticket.uId %>  </strong></h3>
                <div class="nk-block-des text-soft">
                    <ul class="list-inline">
                        <li>Submitted by <span class="text-base"><%= ticket.submitter.firstName %> <%= ticket.submitter.lastName %></span>
                             on <span class="text-base"><%= moment(ticket.createdAt).format('MMM D, YYYY') %></span></li>
                    </ul>
                </div>
            </div>
            <div class="nk-block-head-content">
                <ul class="nk-block-tools gx-3">
                        <li class="order-md-last"><button data-toggle="modal" data-target="#addAttachment" class="btn btn-primary"><span>Add Attachment</span></button></li>
                        <li class="order-md-last"><a class="btn btn-primary" href="/Tickets/Edit/101"><span>Edit Ticket</span></a></li>
                    <li><a class="btn btn-icon btn-light" href="/Tickets/Details/101%20"><em class="icon ni ni-reload"></em></a></li>
                </ul>
            </div>
        </div>
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="invoice row g-gs">
            <div class="col-12">
                <div class="invoice-action">
                    <a class="btn btn-icon btn-lg btn-white btn-dim btn-outline-primary" target="_blank" href="/Tickets/TicketPrint/101"><em class="icon ni ni-printer-fill"></em></a>
                </div><!-- .invoice-actions -->
                <div class="invoice-wrap">
                    <div class="row">
                        <div class="col">
                            <div class="invoice-desc w-100">
                                <h3 class="title"><%= ticket.title %> </h3>
                                <ul class="list-plain">
                                    <li class="invoice-id"><span>Ticket Id</span>:<span>#<%= ticket.uId %>  </span></li>
                                    <li class="invoice-date"><span>Date</span>:<span><%= moment(ticket.createdAt).format('MMM D, YYYY') %> </span></li>
                                    <li class="invoice-date"><span>Updated</span>:<span><%= moment(ticket.updatedAt).format('MMM D, YYYY') %>  </span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="invoice-contact">
                                <span class="overline-title">Assigned To</span>
                                <div class="invoice-contact-info">
                                        <h4 class="title"><%= ticket.asignee.firstName %> <%= ticket.asignee.lastName %></h4>

                                    <ul class="list-plain">
                                        <li><em class="icon ni ni-folder-fill"></em><span><%= ticket.project.name %> </span></li>
                                        <li><em class="icon ni ni-user-fill"></em><span>
                                            <%= ticket.submitter.firstName %> <%= ticket.submitter.lastName %></span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5 p-0">
                        <div class="col-12 p-0">
                            <div class="card-inner card-bordered p-3 bg-azure-dim">
                                <p>This ticket was generated at random for demo purposes.</p>
                                <p><strong><%= ticket.uId %> </strong> uniquely identifies this ticket</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="col-lg-8 col-md-12">
                <div class="card card-bordered h-100">
                    <div class="card-inner border-bottom">
                        <div class="card-title-group">
                            <div class="card-title">
                                <h6 class="title">History</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-inner">
                        <div class="timeline">
                            <ul class="timeline-list is-scrollable h-max-300px">
                                <li class="timeline-item">
                                    <div class="timeline-status bg-teal"></div>
                                    <div class="timeline-date"><%= moment(ticket.createdAt).format('MMM D, YYYY') %>    <em class="icon ni ni-alarm-alt"></em></div>
                                    <div class="timeline-data">
                                        <h6 class="timeline-title">Submitted by <%= ticket.submitter.firstName %> <%= ticket.submitter.lastName %></h6>
                                        <div class="timeline-des">
                                            <span class="time"><%= moment(ticket.createdAt).format('MMM D, YYYY') %></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <p class="mt-5 text-center"> No more history to show.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="card card-bordered h-100">
                    <div class="card-inner">
                        <div class="card-title-group">
                            <div class="card-title card-title-sm">
                                <h6 class="title">Status History Breakdown <span class="badge badge-danger badge-pill">Beta</span></h6>
                            </div>
                        </div>
                        <div class="traffic-channel">
                            <div class="traffic-channel-doughnut-ck">
                                <canvas class="analytics-doughnut" id="ticket-status-timeline"></canvas>
                            </div>
                            <div class="traffic-channel-group g-2" id="ticket-status-timeline-details">
                                <div class="traffic-channel-data">
                                    <div class="title"><span class="dot dot-lg sq bg-primary" data-bg="#9cabff"></span><span>10 days</span></div>
                                    <div class="amount">In Progress</div>
                                    <div class="title"><span class="dot dot-lg sq bg-primary" data-bg="#9cabff"></span><span>2 days</span></div>
                                    <div class="amount">New</div>
                                </div>
                            </div><!-- .traffic-channel-group -->
                        </div><!-- .traffic-channel -->
                    </div>
                </div><!-- .card -->
            </div>


            <div class="col-md-12">
                <div class="card card-inner-group card-bordered">
                    <div class="card-inner border-bottom">
                        <div class="card-title-group">
                            <div class="card-title">
                                <h6 class="title">Comments</h6>
                            </div>
                        </div>
                    </div>
                    <div class="card-inner">
                        <div class="col-md-12">

<form action="#" method="post">
    <input type="hidden" data-val="true" data-val-required="The TicketId field is required." id="TicketId" name="TicketId" value="101" />
    <div class="form-group">
        <div class="form-control-wrap">
            <textarea class="form-control form-control-sm tinymce-basic" id="fv-message" placeholder="Write your comment" name="Comment">
</textarea>
        </div>
    </div>
    <div class="form-group">
        <button href="#" type="submit" class="btn btn-primary">Send</button>
    </div>
<input name="__RequestVerificationToken" type="hidden" value="CfDJ8GG61DbYsKhNnCx8U1WKFB2uVTglQYr_CW6TB1eruv2J_7z22lmYI3MelA1T5RsUrS0zw_LIF-vdOFyIBD2yQHNiPd3FT7WbIPjtDBaXoLPzCWFgpqOevOvlqgZOufE_nkn6v6J1ylLEANXBkspm003zVpc-ndIZ6tofsWMAJlJ8M1VevBUQvHAweC3xWXOvIQ" /></form>                        </div>
                    </div>
                    <div class="is-scrollable h-max-500px">
                    </div>
                </div>
            </div>
        </div><!-- .invoice-wrap -->
    </div><!-- .invoice -->
</div>

<!-- <div class="modal fade" tabindex="-1" id="addAttachment">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Attachment</h5>
                <a href="#" class="close" data-dismiss="modal" aria-label="Close">
                    <em class="icon ni ni-cross"></em>
                </a>
            </div>
            <div class="modal-body">
                <form class="form-validate is-alter" enctype="multipart/form-data" action="/Tickets/CreateAttachment" method="post">
                    
                    <input type="hidden" data-val="true" data-val-required="The TicketId field is required." id="ticketAttachment_TicketId" name="ticketAttachment.TicketId" value="101">
                    <div class="form-group">
                        <label class="form-label" for="ticketAttachment_Description">Description</label>
                        <div class="form-control-wrap">
                            <textarea class="form-control form-control-sm" placeholder="Write your message" required="" value="" id="ticketAttachment_Description" name="ticketAttachment.Description">
</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="ticketAttachment_FormFile">Upload File</label>
                        <div class="form-control-wrap">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" required id="ticketAttachment_FormFile" name="ticketAttachment.FormFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary">Save Attachment</button>
                    </div>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GG61DbYsKhNnCx8U1WKFB2uVTglQYr_CW6TB1eruv2J_7z22lmYI3MelA1T5RsUrS0zw_LIF-vdOFyIBD2yQHNiPd3FT7WbIPjtDBaXoLPzCWFgpqOevOvlqgZOufE_nkn6v6J1ylLEANXBkspm003zVpc-ndIZ6tofsWMAJlJ8M1VevBUQvHAweC3xWXOvIQ" /></form>
            </div>
        </div>
    </div>
</div> -->

<!-- Modal Tabs -->
<!-- <div class="modal fade" tabindex="-1" role="dialog" id="ticketHistory">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <a href="#" class="close" data-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
            <div class="modal-body modal-body-md" id="history-rendered">
                
            </div>
        </div>
    </div>
</div> -->
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function ticketAnalyticsDoughnut(chartid, set_data) {
            var selectCanvas = document.getElementById(chartid).getContext("2d");
            var chart_data = [];
        
            for (var i = 0; i < set_data.datasets.length; i++) {
                chart_data.push({
                    backgroundColor: set_data.datasets[i].background,
                    borderWidth: 2,
                    borderColor: set_data.datasets[i].borderColor,
                    hoverBorderColor: set_data.datasets[i].borderColor,
                    data: set_data.datasets[i].data,
                    timeLabel: set_data.datasets[i].timeLabel,
                });
            }
            var chart = new Chart(selectCanvas, {
                type: 'doughnut',
                data: {
                    labels: set_data.labels,
                    datasets: chart_data,
                },
                options: {
                    legend: {
                        display: (set_data.legend) ? set_data.legend : false,
                        labels: {
                            boxWidth: 12,
                            padding: 20,
                            fontColor: '#6783b8',
                        }
                    },
                    rotation: -1.5,
                    cutoutPercentage: 70,
                    maintainAspectRatio: false,
                    tooltips: {
                        enabled: true,
                        callbacks: {
                            title: function (tooltipItem, data) {
                                //return "HEY MAN"
                                return data['labels'][tooltipItem[0]['index']];
                            },
                            label: function (tooltipItem, data) {
                                //return set_data.timeLabel;
                                //return data.datasets[tooltipItem.datasetIndex]['data'][tooltipItem['index']].timeLabel + ' ' + set_data.dataUnit;
                                return data.datasets[tooltipItem.datasetIndex]['timeLabel'][tooltipItem['index']];
        
                            }
                        },
                        backgroundColor: '#fff',
                        borderColor: '#eff6ff',
                        borderWidth: 2,
                        titleFontSize: 13,
                        titleFontColor: '#6783b8',
                        titleMarginBottom: 6,
                        bodyFontColor: '#9eaecf',
                        bodyFontSize: 12,
                        bodySpacing: 4,
                        yPadding: 10,
                        xPadding: 10,
                        footerMarginTop: 0,
                        displayColors: false
                    },
                }
            });
            return chart;
        }
        const ticketDoughnutDatadata = {
            labels: [
              'In Progress',
              'New'
            ],
            dataUnit:'',
            legend: false,
            datasets: [{
              borderColor: "#fff",
              background: ["#9cabff", "#f4aaa4", "#8feac5"],
              data:[80,20],
              timeLabel: ['10 days','2 days']
          }]
          };
        ticketAnalyticsDoughnut("ticket-status-timeline", ticketDoughnutDatadata);
})
    

</script>

