<% layout('../views/layouts/boilerplate') %> 
<div class="container-lg wide-lg">
    <div class="nk-block nk-block-lg">
        <div class="nk-block-head">
            <div class="nk-block-head-sub">
                <a class="text-soft back-to" href="/Tickets/Details/<%= editTicketViewModel.ticket._id%>">
                    <em class="icon ni ni-arrow-left"> </em><span><%= editTicketViewModel.ticket.title%></span></a>
            </div>
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">Edit Ticket <strong class="text-primary small">#101 </strong></h3>
                <div class="nk-block-des text-soft">
                    <ul class="list-inline">
                        <li>Submitted by <span class="text-base">
                            <%= editTicketViewModel.ticket.submitter.firstName %>
                            <%= editTicketViewModel.ticket.submitter.lastName %>
                        </span> on <span class="text-base"><%= editTicketViewModel.ticket.createdAt %>
                        </span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card card-bordered">
            <div class="card-inner">
                <div class="card-head">
                    <h5 class="card-title">Edit Ticket</h5>
                </div>
                <form class="gy-3" action="/Tickets/edit/<%= editTicketViewModel.ticket._id %>?_method=PUT" method="post">

                    <div class="row g-3 align-center">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="form-label" for="site-name">Title</label>
                                <span class="form-note">Make this short but meaningful.</span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <input class="form-control" type="text" data-val="true" 
                                    data-val-length="The field Title must be a string with a maximum length of 50." 
                                    data-val-length-max="50" data-val-required="The Title field is required." 
                                    id="Title" maxlength="50" name="ticket[title]" 
                                    value="<%= editTicketViewModel.ticket.title %>" />

                                    <span class="text-danger field-validation-valid" 
                                    data-valmsg-for="Title" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 align-center">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="form-label">Description</label>
                                <span class="form-note">Explain the issue and please include all related error messages.
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <textarea class="form-control form-control-sm tinymce-basic" data-val="true" 
                                    data-val-length="The field Description must be a string with a maximum length of 250." data-val-length-max="250" 
                                    data-val-required="The Description field is required." 
                                    id="Description" maxlength="250" name="ticket[description]"><%= editTicketViewModel.ticket.description %></textarea>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 align-center">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="form-label">Project</label>
                                <span class="form-note">Include the project this ticket most likely belongs in.</span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <select data-search="on" class="form-control form-select" data-val="true" 
                                    data-val-required="The Project field is required." id="ProjectId" name="ticket[project]">
                                        <option disabled>--- CHOOSE ---</option>
                                        <% editTicketViewModel.projects.forEach(project => { %>
                                                <option value='<%= project._id %>' 
                                                <% if((editTicketViewModel.ticket.project.equals(project._id))){%>selected<% } %>      
                                                ><%= project.name%></option>
                                        <% }) %>
                                    </select>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 align-center">
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="form-label">Ticket Type</label>
                                <span class="form-note">Where is the problem occurring?</span>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group">
                                <div class="form-control-wrap">
                                    <select data-search="on" class="form-control form-select" data-val="true" 
                                    data-val-required="The Type field is required." id="TicketTypeId" name="ticket[type]">
                                        <option value="UI" 
                                        <% if((editTicketViewModel.ticket.type == ('UI'))){%>selected<% } %>
                                        >UI</option>

                                        <option value="Backend"
                                        <% if((editTicketViewModel.ticket.type == ('Backend'))){%>selected<% } %>
                                        >Backend</option>


                                        <option value="Runtime"
                                        <% if((editTicketViewModel.ticket.type == ('Runtime'))){%>selected<% } %>
                                        >Runtime</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row g-3 align-center bg-warning-dim">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-label">Ticket Priority</label>
                                    <span class="form-note">If unsure, leave at pending.</span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <select data-search="on" class="form-control form-select" data-val="true" 
                                        data-val-required="The Priority field is required." id="TicketPriorityId" name="ticket[priority]">
                                            <option value="Pending"
                                            <% if((editTicketViewModel.ticket.priority == ('Pending'))){%>selected<% } %>
                                            >Pending</option>

                                            <option value="Low" 
                                            <% if((editTicketViewModel.ticket.priority == ('Low'))){%>selected<% } %>
                                            >Low</option>

                                            <option value="Moderate"
                                            <% if((editTicketViewModel.ticket.priority == ('Moderate'))){%>selected<% } %>
                                            >Moderate</option>

                                            <option value="High"
                                            <% if((editTicketViewModel.ticket.priority == ('High'))){%>selected<% } %>
                                            >High</option>

                                            <option value="Urgent"
                                            <% if((editTicketViewModel.ticket.priority == ('Urgent'))){%>selected<% } %>
                                            >Urgent</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-label">Ticket Status</label>
                                    <span class="form-note">Add the current status for this ticket.</span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <select data-search="on" class="form-control form-select" 
                                        data-val="true" data-val-required="The Status field is required." 
                                        id="TicketStatusId" name="ticket[status]">
                                                <option value="New"
                                                <% if((editTicketViewModel.ticket.status == ('New'))){%>selected<% } %>
                                                >New</option>

                                                <option value="Reviewed"
                                                <% if((editTicketViewModel.ticket.status == ('Reviewed'))){%>selected<% } %>
                                                >Reviewed</option>

                                                <option value="In Progress"
                                                <% if((editTicketViewModel.ticket.status == ('In Progress'))){%>selected<% } %>
                                                >In Progress</option>

                                                <option value="Resolved"
                                                <% if((editTicketViewModel.ticket.status == ('Resolved'))){%>selected<% } %>

                                                >Resolved</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row g-3 align-center">
                            <div class="col-lg-5">
                                <div class="form-group">
                                    <label class="form-label">Assigned Developer</label>
                                    <span class="form-note">Assign a developer for this ticket.</span>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="form-group">
                                    <div class="form-control-wrap">
                                        <div class="custom-file">
                                            <select data-search="on" class="form-control form-select" id="DeveloperUserId" name="ticket[asignee]">
                                                <option disabled selected>--- UNASSIGNED ---</option>
                                                <% editTicketViewModel.users.forEach(user => { %>
                                                    <option value="<%=user._id%>"
                                                        <% if((editTicketViewModel.ticket.asignee.equals(user._id))){%>selected<% } %>                                                    
                                                        ><%=user.firstName%> <%=user.lastName%>
                                                    </option>
                                                <% }) %>
                                            </select>
                                            <span class="text-danger field-validation-valid" data-valmsg-for="DeveloperUserId" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="row g-3">
                        <div class="col-lg-7 offset-lg-5">
                            <div class="form-group mt-2">
                                <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
                            </div>
                        </div>
                    </div>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GG61DbYsKhNnCx8U1WKFB0F7C1yNrZZPKOkFfrrY4cjE4yoLGAeFUN6NJnEDqy9ttIapJPWUfV2v6Gsz1zUD3zRN1KA9ekAOeMJ3MPSNE5cBavibam-f1kZUv-ph7Zkf2FAS_nKGMgYwo5pBOu9BbX_qvis1kb70rYM0QUutIVKPv0HzWXn8r4Jq8bYNIAV3A" /></form>
            </div>
        </div><!-- card -->
    </div>
</div>
