<%layout('../views/layouts/boilerplate')%>
<div class="nk-content-wrap">
    <div class="nk-block-head nk-block-head-lg">
        <div class="nk-block-head-sub"><span>Team Members</span></div>
        <div class="nk-block-between-md g-4">
            <div class="nk-block-head-content">
                <h2 class="nk-block-title fw-normal">Team Manage</h2>
                <div class="nk-block-des">
                    <p>Manage your team roles.</p>
                </div>
            </div>
        </div>
    </div><!-- .nk-block-head -->
    <div class="nk-block">
        <div class="card card-bordered card-inner">
            <table class="table table-member datatable-init">
                <thead class="tb-member-head thead-light">
                    <tr class="tb-member-item">
                        <th class="tb-member-info">
                            <span class="overline-title">Team Member</span>
                        </th>
                        <th class="tb-member-type tb-col-sm">
                            <span class="overline-title">Permission</span>
                        </th>
                        <th class="tb-member-role tb-col-md">
                            <span class="overline-title">Role</span>
                        </th>
                        <th class="tb-member-action">
                            <span class="overline-title">Action</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="tb-member-body">
                    <% users.forEach(function(user,i) { %>
                        <tr class="tb-member-item">

                            <td class="tb-member-info">
                                <div class="user-card">
                                    <div class="user-avatar bg-success">
                                        <span><%=user.firstName.charAt(0)%><%=user.lastName.charAt(0)%></span>
                                    </div>
                                    <div class="user-info">
                                        <span class="lead-text"><%=user.firstName%> <%=user.lastName%> </span>
                                        <span class="sub-text"><%=user.email%></span>
                                    </div>
                                </div>
                            </td>
                            <td class="tb-member-type tb-col-sm">
                                    <span>Normal</span>
                            </td>
                            <td class="tb-member-role tb-col-md">
                                <form method="post" id="form-<%= i %>" action="/UserRoles/ManageUserRoles/<%= user._id %>">
                                    
                                    <div class="form">
                                                <select class="form-select" id="<%= i %>" data-search="off" data-ui="clean" name="selectedRole">
                                                    <% userRolesArray.forEach(role => {%>
                                                        <option value="<%=role%>" 
                                                            <% if(user.role == role) {%>
                                                                selected <% } %> 
                                                            ><%=role%></option>
                                                    <%}); %> 
                                                    
                                                </select>
                                    </div>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GG61DbYsKhNnCx8U1WKFB3cbfTgNuJS8LY63n7U60JIi-BWf2usJTx4lwZ_ZBz3CfOcM3YdoV8YqQX4vrrM9e_YROxZEdJquyDrv8BRy_ir-tUi3YhODkyqrMc8cU_Vif6lC1KK2PfrooYZDtbDC-8B-VUSR_eFhfVzcoIwfJcB-07hi3f41Hvwr_iS3bTi4w" /></form>
                            </td>
                            <td class="tb-member-action">
                                <div class="d-none d-md-inline">
                                    <button class="btn btn-primary" onclick="javascript: document.getElementById('form-<%= i %>').submit()">Assign</button>
                                </div>
                                <div class="dropdown d-md-none">
                                    <a class="dropdown-toggle btn btn-icon btn-trigger" data-toggle="dropdown"><em class="icon ni ni-more-v"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-xs">
                                        <ul class="link-list-plain no-bdr">
                                            <li class="active"><a class="link link-sm" href="#">Edit</a></li>
                                            <li><a class="link link-sm link-danger" href="#">Remove</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr><!-- .tb-member-item -->
                        <% }) %> 
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        function selectUserInDb() {
        document.getElementsByClassName("form-select").forEach(select => {
            select.forEach(option=>{
                console.log(option.text);
            })
        });;
}
selectUserInDb()

    });
</script>