<% layout('layouts/boilerplate') -%>
<div class="components-preview wide-md mx-auto">
    <div class="nk-block-head nk-block-head-lg wide-sm">
        <div class="nk-block-head-content">
            <div class="nk-block-head-sub"><a class="back-to" href="/Projects/Details/<%= project._id %>"><em class="icon ni ni-arrow-left"></em><span><%= project.name %> </span></a></div>
            <h2 class="nk-block-title fw-normal">Edit Project</h2>
            <div class="nk-block-des">
                <p class="lead">Make any changes to project. This will not effect any existing tickets.</p>
            </div>
        </div>
    </div>
    <div class="nk-block nk-block-lg">
        <div class="card card-preview">
            <div class="card-inner">
                <form class="form-validate is-alter" enctype="application/x-www-form-urlencoded" action="/Projects/Edit/<%= project._id %>?_method=PUT" method="post" name="project">
                    
                    <input type="hidden" id="FileData" name="FileData" value="" />
                    <input type="hidden" id="FileName" name="FileName" value="" />
                    <input type="hidden" data-val="true" data-val-required="The Created field is required." id="Created" name="Created" value="04/08/2021 16:15:09 &#x2B;00:00" />
                    <input type="hidden" data-val="true" data-val-required="The Archived field is required." id="Archived" name="Archived" value="False" />
                    <div class="form-group">
                        <label class="form-label" for="Name">Name</label>
                        <div class="form-control-wrap">
                            <input type="text" class="form-control" required data-val="true" data-val-length="The field Project Name must be a string with a maximum length of 50." data-val-length-max="50" data-val-required="The Project Name field is required." id="Name" maxlength="50" name="project[name]" value="<%= project.name %> ">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="Description">Description</label>
                        <div class="form-control-wrap">
                            <textarea type="text" class="form-control" required data-val="true" data-val-length="The field Short Description must be a string with a maximum length of 100." data-val-length-max="100" id="Description" maxlength="100" name="project[description]"><%= project.description %> </textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="default-06">Change Project Image</label>
                        <div class="form-control-wrap">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="customFile" name="FormFile">
                                <label class="custom-file-label" for="customFile">Choose file</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
                    </div>
                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GG61DbYsKhNnCx8U1WKFB0XKUdJ4-lBeAlZ10XN9oVGjyJnpk3RFJar0iTJqdF3ZeSjD8reJhLmPehDTThgFGhryeVzPmEmviUEtXazf4frN9m5yyZLJhKopLoUq6K7xUNkMLLJHzfPv0pbKgH8_Gr_qf7wT1MZnH3F1V1XMix_Rsbt0VddSWyyWWTTZM2Ozg" /></form>
            </div>
        </div>
    </div>
</div>
