<% layout('../views/layouts/boilerplate') -%>


<div id="projects-container">
    <div class="nk-block-head nk-block-head-sm">
        <div class="nk-block-between">
            <div class="nk-block-head-content">
                <h3 class="nk-block-title page-title">All Projects</h3>
                <div class="nk-block-des text-soft">
                            <p><%= projects.length %> active projects</p>
                </div>
            </div><!-- .nk-block-head-content -->
            <div class="nk-block-head-content">
                <div class="toggle-wrap nk-block-tools-toggle">
                    <a href="#" class="btn btn-icon btn-trigger toggle-expand mr-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
                    <div class="toggle-expand-content" data-content="pageMenu">
                        <ul class="nk-block-tools g-3">
                                <!-- <li class="nk-block-tools-opt">
                                    <input type="text" class="w-100 form-control d-inline-block search" value="" placeholder="Search projects..." />
                                </li> -->
                            <li>
                                <div class="drodown">
                                    <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-toggle="dropdown"><span>View</span><em class="icon ni ni-chevron-down"></em></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <ul class="link-list-opt no-bdr">
                                            <li><a href="/Projects/"><span>All Projects</span></a></li>
                                            <!-- <li><a href="/Projects/AssignedProjects"><span>My Projects</span></a></li> -->
                                            <li><a href="/Projects/ArchivedProjects"><span>Archived Projects</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                                <li class="nk-block-tools-opt"><a class="btn btn-primary" href="/Projects/Create"><em class="icon ni ni-plus"></em><span>Add Project</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="nk-block">
    <div class="justify-content-center d-flex align-items-center mt-5 hide-on-load">
        <!-- <div class="spinner-border text-primary hide-on-load" role="status">  <span class="sr-only">Loading...</span></div> -->
    </div>
    <div class="row g-gs list-js-list show-on-load">
        <% projects.forEach((project,index) => { %>
            <div class="col-sm-6 col-lg-4 col-xxl-3">
                <div class="card card-bordered h-100">
                    <div class="card-inner">
                        <div class="project">
                            <div class="project-head">
                                <a class="project-title" href="/Projects/Details/<%= project._id %> ">
                                    <div class="user-avatar sq project-bg-color "><span>EP</span></div>
                                    <div class="project-info">
                                        <h6 class="title"><%= project.name %></h6>
                                        <span class="sub-text"></span>
                                    </div>
                                </a>
                                    <div class="drodown">
                                        <a href="#" class="dropdown-toggle btn btn-sm btn-icon btn-trigger mt-n1 mr-n1" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <ul class="link-list-opt no-bdr">

                                                <li><a href="/Projects/Details/<%= project._id %>"><em class="icon ni ni-eye"></em><span>View Project</span></a></li>
                                                <li><a href="/Projects/Edit/<%= project._id %>"><em class="icon ni ni-edit"></em><span>Edit Project</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                            </div>
                            <div class="project-details">
                                <p class="description"><%= project.description %></p>
                            </div>
                            <div class="project-progress">
                                <div class="project-progress-details">
                                    <div class="project-progress-task"><span>Weekly new to resolved ratio</span></div>
                                    <div class="project-progress-percent">
                                    100%
                                    </div>
                                </div>
                                <div class="progress progress-pill progress-md bg-light">
                                    <div class="progress-bar" data-progress="110"></div>
                                </div>
                            </div>
                            <div class="project-meta">
                                <ul class="project-users g-1">
                                            <li>
                                                <div class="user-avatar sm bg-primary">
                                                <span>
                                                    <%=project.team[0].firstName.charAt(0)%><%=project.team[0].lastName.charAt(0)%>
                                                </span></div>
                                            </li>
                                            <% if(project.team.length>1){ %>

                                            <li>
                                                <div class="user-avatar sm bg-blue">
                                                    <span><%=project.team[1].firstName.charAt(0)%><%=project.team[1].lastName.charAt(0)%></span></div>
                                            </li>
                                            <% } %>
                                            <% if(project.team.length>2){ %>

                                                <li>
                                                    <div class="user-avatar bg-light sm">
                                                        <span>
                                                            +<%= project.team.length - 2 %>
                                                        </span></div>
                                                </li>
                                                <%} %> 
                                </ul>
                                    <% if(project.status == 'active') {%> 
                        
                                    <span class="badge badge-dim badge-success"><em class="icon ni ni-check-circle"></em><span>Active</span></span>
                                    <% } else { %>
                                    <span class="badge badge-dim badge-danger"><em class="icon ni ni-archived"></em><span>Archived</span></span>
                                    <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
                
                
    </div>

</div>

